.world-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__canvas {
    width: 100%;
    height: 100%;
    touch-action: none;

    canvas {
      display: block;
      width: 100% !important;
      height: 100% !important;
      outline: none;
      touch-action: none;
    }
  }
}
