.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;

    .title-container {
        margin-bottom: 50px;
        text-align: center;

        .title {
            font-size: 40px;
            font-weight: bold;
            color: #333;
            display: block;
        }

        .subtitle {
            font-size: 18px;
            color: #666;
        }
    }

    .start-btn {
        width: 200px;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        border-radius: 25px;
    }
}