.star-ocean {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    var(--t-bg-app-primary) 0%,
    var(--t-bg-app-secondary) 50%,
    var(--t-bg-app-tertiary) 100%
  );
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
    overflow-y: auto;
  }
}
